@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Geologica:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* color-root */
:root {
    --main: rgb(100, 56, 67);
    --land: rgb(153, 98, 122);
    --sec: rgb(200, 142, 167);
    --fonts: rgb(231, 203, 203);
    --aqua: aqua;
    --bluev: blueviolet;
    --white: #fff;
    --black: black;
    --red :  rgb(214, 86, 86);
}






/* * */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html,
body,
p,
h1,
h2,
h3,
h4 {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */

}

a {
    text-decoration: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.p-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.m-b {
    margin-bottom: 100px;
}

p {
    margin: 0;
}

.color-red{
    color: red !important;
}



/* container */
.container {
    max-width: 100%;
    padding: 0 60px;
    flex-grow: 1;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}

/* header-css */
.header {
    max-width: 10000px;
    height: 65px;
    background: var(--land);
    box-shadow: 0px 2px 3px #9b9b9b;
    position: relative;

}

.header-main {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}


/* logo_img-css */
.header-left img {
    max-width: 100px;
    height: auto;
    padding-bottom: 7px;
    cursor: pointer;
}

.header-left img:hover {
    transform: scale(1.1);
    transition: .5s;
}



/* header-right-css */
.header-right {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}

/* ham-menu */
.ham-menu {
    background: transparent;
    border: none;
    display: none;
    position: absolute;
    right: 100px;
    cursor: pointer;
}

.ham-menu img {
    width: 40px;
}






/* nav-css */
.nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    padding: 0 100px 7px 0px;
    margin: 0 5px;
}


/* nav li */
.nav li {
    position: relative;
}



/* .nav li a  */
.nav li a {
    padding: 0 30px;
    color: var(--fonts);
    cursor: pointer;
}

.nav li a:hover {
    color: var(--aqua);
}

.nav li span {
    padding: 0 0 0 30px;
}


.nav span {
    color: var(--fonts);
    cursor: pointer;
}

.nav span:hover {
    color: var(--aqua);
}

.bi {
    color: var(--aqua);
    margin-left: 4px;
    cursor: pointer;
    background-size: cover;
}

/* shop-down */
.shop-down {
    position: absolute;
    background-color: var(--land);
    width: 250px;
    height: auto;
    top: 21px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.drop-down .shop-down {
    display: none;
}

.drop-down:hover .shop-down {
    display: block;
}

.shop-down li {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;

}

.shop-down li:hover {
    color: var(--aqua);
    background-color: var(--bluev);
}






/* btn-css */
.btn {
    margin-bottom: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--aqua);
    color: var(--main);
    padding: 8px 8px;
    border-radius: 30px;

}

.btn:hover {
    background-color: var(--bluev);
    color: var(--fonts);
    transform: scale(1.3);
    transition: .4s;

}



/* single */

/* breadcrumbs */
.breadcrumbs {
    padding: 12px 0;
    background-color: var(--fonts);
    cursor: pointer;
}

/* bread a */
.bread a {
    font-weight: 700;
    color: var(--bluev);
    vertical-align: 0px;

}

.bread a:hover {
    color: var(--white);
}


/* bread span */
.bread span {
    color: var(--main);
    font-weight: 500;
    font-size: 19px;
}

/* .bi-caret-right */
.bi-caret-right {
    color: var(--black);
}






/* single product */
.single-product {
    padding: 55px 0;
}



/* single-pro */
.single-pro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* .single-pro-left */
.single-pro-left {
    border: 2px solid var(--black);
    width: 50%;
    height: 500px;
}


/* .single-pro-right */
.single-pro-right {
    margin-left: 50px;
    width: 50%;
    height: 500px;


}


/* .single-right */
.single-right {
    display: flex;
    flex-direction: column;
}

.single-right p {
    margin-top: 10px;
    font-weight: 800;
    color: var(--main);
    font-size: 20px;
}

/* .single-right span  */
.pro-price {
    text-decoration: underline;
    margin-top: 10px;
    color: var(--sec);
    font-weight: 700;
    font-size: 30px;

}

/* .single-pro-right h1 */
.single-pro-right h1 {
    font-weight: 500;
    font-size: 19px;
    color: var(--main);
    text-transform: uppercase;
}


/* .pro-images img */
.pro-images img {
    width: 100%;
    height: 498px;
    margin: 0px 0 0 0;
    border-radius: 20px;
    cursor: pointer;
}



/* pro-colors */
.pro-colors {
    margin-top: 30px;
}


/* pro-color */
.pro-colors p {
    margin: 0px 0 15px 0;
    font-weight: 700;
    color: var(--main);
}

/* pro-color-1 */
.pro-color-1 {
    border: 2px solid var(--black);
    margin-left: 18px;
    background: var(--black);
    color: var(--white);
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 8px;
    cursor: pointer;
}

.pro-color-1:hover {
    font-size: 15px;
    background: var(--white);
    color: var(--black);
    font-weight: 800;

}


/* pro-color-2 */
.pro-color-2 {
    border: 2px solid var(--black);
    margin-left: 18px;
    background: gold;
    color: var(--black);
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 8px;
    font-weight: 700;
    cursor: pointer;
}

.pro-color-2:hover {
    font-size: 15px;
    background: var(--white);
    color: gold;
    font-weight: 800;

}

/* pro-color-3 */
.pro-color-3 {
    border: 2px solid var(--black);
    margin-left: 18px;
    background: green;
    color: var(--black);
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 8px;
    font-weight: 700;
    cursor: pointer;
}

.pro-color-3:hover {
    font-size: 15px;
    background: var(--white);
    color: green;
    font-weight: 800;

}





/* pro-props */
.pro-props {
    margin-top: 30px;
}

/* .pro-props p */
.pro-props p {
    font-weight: 800;
    font-size: 20px;
    color: var(--main);
    margin-bottom: 10px;
}

/* .pro-props ul li */
.pro-props ul li {
    font-weight: 800;
    font-size: 17px;
    color: var(--land);
    cursor: pointer;
    padding-bottom: 6px;
}


/* single-btn */
.single-btn {
    margin-top: 25px;
}

/* btn-nft */
.btn-nft {
    width: 450px;
    padding: 20px;
    border: none;
    cursor: pointer;
    color: var(--land);
    background: var(--fonts);
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
}

.btn-nft:hover {
    width: 450px;
    padding: 16px;
    border: none;
    cursor: pointer;
    color: var(--fonts);
    background: var(--land);
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
}


/* single */




/* new-posts */

/* new-posts-css */
.new-posts {
    margin-top: 15px;
}



/* posts */
.posts {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


/* post-new */
.post-new {
    width: 25%;
    height: auto;
    padding: 15px;

}


/* new-card */
.new-card {
    width: 100%;
    height: 425px;
    box-shadow: 3px 2px 6px var(--land);
    border-radius: 15px;
    cursor: pointer;
}



/* h2 */
.text-h2 {
    color: var(--land);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}



/* pro-img-css */
.pro-img {
    width: 100%;
    height: 250px;
}

.pro-img img {
    width: 100%;
    height: 300px ;
}




/* tiltes */
.titles {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* name-coin */
.name-coin {
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
}


/*price-coin */
.price-coin {
    color: var(--land);
    font-size: 15px;
    margin-right: 5px;
    margin-top: 4px;
    text-decoration: line-through;
}



/* desc */
.desc {
    margin-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}


/* desc-coin */
.desc-coin {
    font-weight: 400;
    font-size: 20px;
    margin-left: 5px;
}


/* new-price */
.new-price {
    color: var(--main);
    font-size: 15px;
    margin-right: 5px;
    margin-top: 4px;
    font-weight: 600;
}






/* footer */

footer {
    background: var(--black);
    width: 100%;
    height: 400px;
    margin: 45px 0 0 0;
}

.main-footer {

    display: flex;
    justify-content: center;
    align-items: start;

}


/* first-footer */
.first-footer {
    width: 30%;
    margin-top: 90px;
    margin-left: 20px;
}

.first-footer h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.first-footer p {
    color: var(--white);
    margin-top: 30px;
    font-size: 15px;
}



/* mid-footer */
.mid-footer {
    width: 20%;
    margin-top: 90px;
}

.mid-footer h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.mid-footer ul {
    margin-top: 30px;
}

.mid-footer li {
    color: var(--white);
    margin-bottom: 8px;
    cursor: pointer;

}



/* last-footer */
.last-footer {
    width: 30%;
    margin-top: 90px;
}

.last-footer h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.last-footer img {
    margin-top: 20px;
    margin-right: 40px;
    width: 100px;
    cursor: pointer;
}



/* hr */
hr {
    border-color: var(--main);
    /* padding: 15px; */
}


/* under */
.under {}

/* under-footer */
.under-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20p;
}

/* under-left */
.under-left {
    margin-top: 20p;
}

.under-left img {
    margin-top: 6px;
    cursor: pointer;
}


.under-right p {
    color: var(--white);
}





/* comments */
.single-comments{
    padding: 30px 0;
}

.single-comments h5{
    font-size: 18px;
    margin-bottom: 20px;
}


.single-comment{
    background-color: #777777;
    height: auto;
    padding: 0 15px;
}

.comment-item{
    padding-left: 112px;
    padding-top: 39px;
    position: relative;
    height: auto;
    padding: 39px 0px 20px 112px ;
    border-bottom: 1px solid #fff;
}

.comment-item:last-child{
    border-bottom: none;;
}

.comment-item img{
    width: 100px;
    height: auto;
    position: absolute;
    left: 15px;
    top: 20px;
}

.comment-span{
    margin-bottom: 12px;
}

.comment-span span{
    color: var(--fonts);
}

.comment-span span:first-child{
    margin-right: 20px;
    color: var(--main);
    font-weight: bold;
    font-size: 24px;
}


.comment-1{
    color: var(--fonts);
    font-size: 20px;
}

.comment-2{
    color: var(--aqua);
    font-size: 17px;
    margin-top: 10px;
}














/* @media query */
@media (max-width:2560px) {
    button.btn {
        padding: 10px 10px;
        font-size: 20px;
    }
    
    ul.nav {
        font-size: 20px;
        padding: 0px 0px 0px 0px;
    }
    
    .header-left img {
        max-width: 100px;
    }
    
    .header {
        height: 80px;
    }

    .single-pro-left {
        height: 775px;
    }
    
    .pro-images img {
        height: 772px;
    }
    
    .new-card {
        height: 571px;
    }
    
    .titles {
        margin-top: 150px;
    }
    
    .pro-img img {
        height: 391px;
    }
    
    p.name-coin {
        font-size: 40px;
        font-weight: 800;
    }
    
    p.price-coin {
        font-size: 40px;
    }
    
    p.desc-coin {
        font-size: 31px;
        font-weight: 900;
    }
    
    p.new-price {
        font-size: 43px;
    }
}

@media (max-width:1024px){
    .post-new {
        width: 50%;
        height: auto;
        padding: 15px;
    }

    footer {
        height: 422px;
    }
    ul.nav {
        font-size: 16px;
        padding: 6px 10px;
    }
    
    button.btn {
        padding: 10px 10px;
        font-size: 20px;
    }
    
    .header-left img {
        max-width: 101px;
    }
    
    .header {
        height: 76px;
    }
    
    .nav li a {
        padding: 0 19px;
    }
}





/* max-width:768px */
@media (max-width:768px){
    .nav {
        display: none;
    }

    .ham-menu {
        display: inline-block;
    }

    button.ham-menu {
        right: 161px;
    }
    
    .ham-menu img {
        width: 33px;
    }
    
    .single-pro-left {
        height: 330px;
    }
    
    .pro-images img {
        height: 327px;
    }
    
    button.btn-nft {
        width: 346px;
    }
    
    .mid-footer ul li {
        margin-left: 1px;
    }
    
    .main-footer {
        margin-left: 9px;
    }
    
    .mid-footer {
        margin-left: 20px;
    }
    
    .last-footer {
        margin-left: 25px;
    }
}


@media (max-width:425px){
    .header {
        overflow-x: hidden !important;
    }
    button.btn {
        position: absolute !important;
    }
    
    button.ham-menu {
        right: 115px !important;
    }
    
    .header-left {
    }
    
    .header-left img {max-width: 80px !important;}
    
    .single-pro {
        flex-direction: column !important;
    }
    
    .pro-images img {
        width: 302px !important;
    }
    
    .single-pro-left {
        width: 100% !important;
    }
    
    .single-pro-right {
        width: 100% !important;
        margin-top: 19px !important;
    }
    
    button.btn-nft {
        width: 300px !important;
    }
    
    .post-new {
        width: 100% !important;
    }
    
    .main-footer {
        flex-direction: column !important;
    }
    
    .first-footer {
        width: 100% !important;
    }
    
    .mid-footer {
        width: 100%;
        margin-left: 81px !important;
    }
    
    footer {
        height: 999px !important;
    }
    
    .last-footer {
        width: 100% !important;
    }
}




@media (max-width:375px){
    .header {
        overflow-x: hidden !important;
    }
    button.btn {
        position: absolute !important;
    }
    
    button.ham-menu {
        right: 115px !important;
    }
    
    .header-left {
    }
    
    .header-left img {max-width: 80px !important;}
    
    .single-pro {
        flex-direction: column !important;
    }
    
    .pro-images img {
        width: 302px !important;
    }
    
    .single-pro-left {
        width: 100% !important;
    }
    
    .single-pro-right {
        width: 100% !important;
        margin-top: 19px !important;
    }
    
    button.btn-nft {
        width: 300px !important;
    }
    
    .post-new {
        width: 100% !important;
    }
    
    .main-footer {
        flex-direction: column !important;
    }
    
    .first-footer {
        width: 100% !important;
    }
    
    .mid-footer {
        width: 100%;
        margin-left: 81px !important;
    }
    
    footer {
        height: 999px !important;
    }
    
    .last-footer {
        width: 100% !important;
    }
}