@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Geologica:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* color-root */
:root {
    --main: rgb(100, 56, 67);
    --land: rgb(153, 98, 122);
    --sec: rgb(200, 142, 167);
    --fonts: rgb(231, 203, 203);
    --aqua: aqua;
    --bluev: blueviolet;
    --white: #fff;
    --black: black;
}






/* * */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html,
body,
p,
h1,
h2,
h3,
h4 {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */

}

a {
    text-decoration: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.p-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.m-b {
    margin-bottom: 100px;
}

p {
    margin: 0;
}





/* container */
.container {
    max-width: 100%;
    padding: 0 60px;
    flex-grow: 1;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}

/* header-css */
.header {
    max-width: 10000px;
    height: 65px;
    background: var(--land);
    box-shadow: 0px 2px 3px #9b9b9b;

}

.header-main {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}


/* logo_img-css */
.header-left img {
    max-width: 100px;
    height: auto;
    padding-bottom: 7px;
    cursor: pointer;
}

.header-left img:hover {
    transform: scale(1.1);
    transition: .5s;
}



/* header-right-css */
.header-right {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}

/* ham-menu */
.ham-menu {
    background: transparent;
    border: none;
    display: none;
    position: absolute;
    right: 100px;
    cursor: pointer;
}

.ham-menu img {
    width: 40px;
}






/* nav-css */
.nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    padding: 0 100px 7px 0px;
    margin: 0 5px;
}

.nav li a {
    padding: 0 30px;
    color: var(--fonts);
    cursor: pointer;
}

.nav li a:hover {
    color: var(--aqua);
}




/* btn-css */
.btn {
    margin-bottom: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--aqua);
    color: var(--main);
    padding: 8px 8px;
    border-radius: 30px;

}

.btn:hover {
    background-color: var(--bluev);
    color: var(--fonts);
    transform: scale(1.3);
    transition: .4s;

}





/* intro */
.intro {
    background: rgb(95, 201, 222);
    background: linear-gradient(90deg, rgba(95, 201, 222, 0.9917355371900827) 19%, rgba(118, 22, 161, 1) 100%);
    width: 100%;
    height: 450px;
    overflow: hidden;

}




/* .intro-main */
.intro-main {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}



/* .intro-left */
.intro-left {
    width: 50%;
    height: 400px;
    

}

.intro-left h1 {
    color: #fff;
    text-align: center;
    padding: 0px 100px 0 0;
    font-size: 50px;

}

.intro-left img {
    width: 480px;
    height: auto;
    margin: 0 auto;
    padding: 0px 0px 0px 50px;
}




/* .intro-right */
.intro-right {
    position: relative;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro-right img {
    width: 550px;
    height: auto;

}




/* .btn-intro-1 */
.btn-intro-1 {
    background-color: var(--aqua);
    padding: 8px 8px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 700;
    color: var(--main);
    margin-top: 15px;
}

.btn-intro-1:hover {
    background-color: #fff;
    color: black;
    transform: scale(1.3);
    transition: .4s;
}




/* .btn-intro-2 */
.btn-intro-2 {
    background-color: var(--aqua);
    padding: 8px 8px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 700;
    color: var(--main);
    margin-top: 10px;
    margin-left: 20px;
}

.btn-intro-2:hover {
    background-color: #fff;
    color: black;
    transform: scale(1.3);
    transition: .4s;
}





/* new-posts-css */
.new-posts {
    margin-top: 15px;
}



/* posts */
.posts {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


/* post-new */
.post-new {
    width: 25%;
    height: auto;
    padding: 15px;

}


/* new-card */
.new-card {
    width: 100%;
    height: 425px;
    box-shadow: 3px 2px 6px var(--land);
    border-radius: 15px;
}



/* h2 */
.text-h2 {
    color: var(--land);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}



/* pro-img-css */
.pro-img {
    width: 100%;
    height: 250px;
}

.pro-img img {
    width: 100%;
    height: 300px;
}




/* tiltes */
.titles {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* name-coin */
.name-coin {
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
}


/*price-coin */
.price-coin {
    color: var(--land);
    font-size: 15px;
    margin-right: 5px;
    margin-top: 4px;
    text-decoration: line-through;
}



/* desc */
.desc {
    margin-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}


/* desc-coin */
.desc-coin {
    font-weight: 400;
    font-size: 20px;
    margin-left: 5px;
}


/* new-price */
.new-price {
    color: var(--main);
    font-size: 15px;
    margin-right: 5px;
    margin-top: 4px;
    font-weight: 600;
}



/* home-ads */
.home-ads {
    margin-top: 40px;
}



/* home-ad-css */
.home-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* left-ads */
.left-ads {
    width: 40%;
    height: 300px;
    padding: 15px;
}

.left-ads img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* right-ads */
.right-ads {
    width: 60%;
    height: 300px;
    padding: 15px;
}

.right-ads img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



/* top-coins-items */
.top-coins-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--fonts);
}




/* top-items */
.top-items {
    width: calc(100%/3);
    height: 300px;
    padding: 15px;
    margin-bottom: 150px;

}

/* .top-coins h2 */
.top-coins h2 {
    padding: 0 15px;
    color: var(--land);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 11px;
}








/* top-service */
.top-service {
    margin-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.img-service {
    width: 25%;
    height: auto;
}


/* .img-service img */
.img-service img {
    width: 70%;
    height: 100%;
    padding: 0 0 10px 40px;
    cursor: pointer;
}

/* .ser-p-1 */
.ser-p-1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
    color: var(--bluev);

}

/* .ser-p-2 */
.ser-p-2 {
    text-align: center;
    font-size: 12px;
    color: var(--main);
}



/* footer */

/*footer */
.footer{
    width: 100%;
    background: var(--black);
    height: 300px;
    margin-top: 35px;
    
    
}

/* main-footer */
.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

/* main-footer-first */
.main-footer-first{
    width: 30%;
    padding: 15px;
    height: auto;
}



.footer-card h4{
    color: var(--white);
    margin-bottom: 20px;
    
}

.footer-card span{
    font-size: 16px;
    color: var(--white);
    font-weight: 700;
}


/* main-footer-mid */
.main-footer-mid{
    width: 20%;
    padding: 15px;
    height: auto;
}

.main-footer-mid h4{
    color: var(--white);
    margin-top: 84px;
    font-weight: 900;
}

.main-footer-mid li{
    margin-bottom: 8px;
}

.main-footer-mid li a{
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

.h-f{
    position: absolute;
    top: 100px;
}

.h-m1{
    position: absolute;
}

.h-m2{
    position: absolute;
}

.h-l{
    position: absolute;
    top: 100px;
}

.main-footer-mid li span{
    color: var(--white);
    
}

.main-footer-last{
    width: 30%;
    padding: 15px;
    height: auto;
}

.main-footer-last img{
    width: 100px;
    margin-right: 15px;
    cursor: pointer;
}













/* media query */
@media (max-width:1440px) {
    
}

@media (max-width:1024px) {
    .main-footer-first span{
        font-size: 11px;
    }
    .post-new {
        width: 50%;
        height: auto;
        padding: 15px;

    }

    .main-footer-last{
        margin-left: 15px;
    }
}

@media (max-width:768px) {
    .nav {
        display: none;
    }

    .ham-menu {
        display: inline-block;
    }


    .btn {
        position: absolute;
        right: 20px;
    }

    .post-new {
        width: 50%;
        height: auto;
        padding: 15px;

    }
    .main-footer-last{
        margin-left: 15px;
    }
}


@media (max-width:772px) {
    .container {
        max-width: 100%;
        padding: 0 0px;
        flex-grow: 1;
    }
}

@media (max-width:712px) {
    .main {
        padding: 0 0;
        overflow-x: hidden;

    }

    .header {
        position: relative;

    }

    .btn {

        right: 30px;
    }

    .container {
        max-width: 100%;
        padding: 0 auto;
        margin: 0 auto;
    }
}

@media (max-width:614px) {
    .btn {

        right: 10px;
    }

    .nav li a {
        padding: 0 10px;
        color: var(--fonts);
        cursor: pointer;
    }
}



@media (max-width:453px) {

    .btn {
        padding: 3px 3px;
    }

    .btn:hover {
        background-color: var(--bluev);
        color: var(--fonts);
        transform: scale(1);
        transition: .4s;

    }

    .nav li a {
        padding: 0 10px;
        color: var(--fonts);
        cursor: pointer;
        font-size: 19px;
        /* margin-bottom:40px; */
    }

    .header-left img {
        max-width: 60px;
        height: auto;
        padding-bottom: 7px;
        cursor: pointer;
        margin-top: 15px;
    }

    .top-items {
        width: 100%;
        height: 300px;
        padding: 15px;
        margin-bottom: 150px;

    }

    .img-service {
        width: 50%;
        height: auto;
    }

    .post-new {
        width: 100%;
        height: auto;
        padding: 15px;

    }

    .nav li a {
        padding: 0 7px;
        font-size: 12px;
    }

    .btn {
        right: 9px;
    }

    .ham-menu {
        right: 80px;
    }

    .home-ad {
        flex-direction: column-reverse;
    }

    .left-ads {
        width: 100%;
    }

    .right-ads {
        width: 100%;
    }

    .intro {
        height: 800px;
    }

    .intro-main {
        flex-direction: column;
    }

    .intro-left h1 {
        padding: 70px;
    }

    .btn-intro-1{
        font-size:12px ;
        position: absolute;
        top: 326px;
    }

    .btn-intro-2 {
        background-color: var(--aqua);
        padding: 8px 8px;
        border: none;
        outline: none;
        font-size: 12px;
        border-radius: 20px;
        font-weight: 700;
        color: var(--main);
        margin-top: 10px;
        margin-left: 70px;
    }

    .intro-right img {
        width: 450px;
        height: auto;
    
    }

    .intro-left  h1{
        font-size: 50px; 
        text-align: center; 
        padding: 20px 30px 0 0; 
     }

    .intro-left img {
        position: absolute;
        bottom: 0px;
        top: 210px;
        left: 5px;
        width: 400px;
        height: auto;
        margin: 0 auto;
        padding: 0px 0px 0px 50px;
    }



}

@media (max-width:375px) {
    .intro-right img {
        width: 300px;
        height: auto;
    
    }
    .intro-left img {
        position: absolute;
        left: 1px;
        right: 20px;
        width: 499px;
    
    }
}


@media (max-width:332px) {
    .nav li a {
        padding: 0 7px;
        font-size: 9px;
    }


    .intro-left img {
        position: absolute;
        left: 1px;
        right: 50px;
        width: 320px;
    
    }

    .btn-intro-1{
        font-size:12px ;
        position: absolute;
        top: 268px;
        padding: 16px 10px;
    }
}