@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Geologica:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* color-root */
:root {
    --main: rgb(100, 56, 67);
    --land: rgb(153, 98, 122);
    --sec: rgb(200, 142, 167);
    --fonts: rgb(231, 203, 203);
    --aqua: aqua;
    --bluev: blueviolet;
    --white: #fff;
    --black: black;
}






/* * */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html,
body,
p,
h1,
h2,
h3,
h4 {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */

}

a {
    text-decoration: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.p-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.m-b {
    margin-bottom: 100px;
}

p {
    margin: 0;
}





/* container */
.container {
    max-width: 100%;
    padding: 0 60px;
    flex-grow: 1;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}

/* header-css */
.header {
    max-width: 10000px;
    height: 65px;
    background: var(--land);
    box-shadow: 0px 2px 3px #9b9b9b;

}

.header-main {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}


/* logo_img-css */
.header-left img {
    max-width: 100px;
    height: auto;
    padding-bottom: 7px;
    cursor: pointer;
}

.header-left img:hover {
    transform: scale(1.1);
    transition: .5s;
}



/* header-right-css */
.header-right {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}

/* ham-menu */
.ham-menu {
    background: transparent;
    border: none;
    display: none;
    position: absolute;
    right: 100px;
    cursor: pointer;
}

.ham-menu img {
    width: 40px;
}






/* nav-css */
.nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    padding: 0 100px 7px 0px;
    margin: 0 5px;
}


/* nav li */
.nav li {
    position: relative;
}



/* .nav li a  */
.nav li a {
    padding: 0 30px;
    color: var(--fonts);
    cursor: pointer;
}

.nav li a:hover {
    color: var(--aqua);
}

.nav li span {
    padding: 0 0 0 30px;
}


.nav span {
    color: var(--fonts);
    cursor: pointer;
}

.nav span:hover {
    color: var(--aqua);
}

.bi {
    color: var(--aqua);
    margin-left: 4px;
    cursor: pointer;
    background-size: cover;
}

/* shop-down */
.shop-down {
    position: absolute;
    background-color: var(--land);
    width: 250px;
    height: auto;
    top: 21px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.drop-down .shop-down {
    display: none;
}

.drop-down:hover .shop-down {
    display: block;
}

.shop-down li {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;

}

.shop-down li:hover {
    color: var(--aqua);
    background-color: var(--bluev);
}






/* btn-css */
.btn {
    margin-bottom: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--aqua);
    color: var(--main);
    padding: 8px 8px;
    border-radius: 30px;

}

.btn:hover {
    background-color: var(--bluev);
    color: var(--fonts);
    transform: scale(1.3);
    transition: .4s;

}





/* intro */
.intro {
    background: rgb(95, 201, 222);
    background: linear-gradient(90deg, rgba(95, 201, 222, 0.9917355371900827) 19%, rgba(118, 22, 161, 1) 100%);
    width: 100%;
    height: 450px;
    overflow: hidden;

}




/* .intro-main */
.intro-main {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}



/* .intro-left */
.intro-left {
    width: 50%;
    height: 400px;


}

.intro-left h1 {
    color: #fff;
    text-align: center;
    padding: 0px 100px 0 0;
    font-size: 50px;

}

.intro-left img {
    width: 480px;
    height: auto;
    margin: 0 auto;
    padding: 0px 0px 0px 50px;
}




/* .intro-right */
.intro-right {
    position: relative;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro-right img {
    width: 550px;
    height: auto;

}




/* .btn-intro-1 */
.btn-intro-1 {
    background-color: var(--aqua);
    padding: 8px 8px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 700;
    color: var(--main);
    margin-top: 15px;
}

.btn-intro-1:hover {
    background-color: #fff;
    color: black;
    transform: scale(1.3);
    transition: .4s;
}




/* .btn-intro-2 */
.btn-intro-2 {
    background-color: var(--aqua);
    padding: 8px 8px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 700;
    color: var(--main);
    margin-top: 10px;
    margin-left: 20px;
}

.btn-intro-2:hover {
    background-color: #fff;
    color: black;
    transform: scale(1.3);
    transition: .4s;
}









/* new-posts */

/* new-posts-css */
.new-posts {
    margin-top: 15px;
}



/* posts */
.posts {
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


/* post-new */
.post-new {
    width: 25%;
    height: auto;
    padding: 15px;

}


/* new-card */
.new-card {
    width: 100%;
    height: 425px;
    box-shadow: 3px 2px 6px var(--land);
    border-radius: 15px;
    cursor: pointer;
}



/* h2 */
.text-h2 {
    color: var(--land);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}



/* pro-img-css */
.pro-img {
    width: 100%;
    height: 250px;
}

.pro-img img {
    width: 100%;
    height: 300px;
}




/* tiltes */
.titles {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* name-coin */
.name-coin {
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
}


/*price-coin */
.price-coin {
    color: var(--land);
    font-size: 15px;
    margin-right: 5px;
    margin-top: 4px;
    text-decoration: line-through;
}



/* desc */
.desc {
    margin-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}


/* desc-coin */
.desc-coin {
    font-weight: 400;
    font-size: 20px;
    margin-left: 5px;
}


/* new-price */
.new-price {
    color: var(--main);
    font-size: 15px;
    margin-right: 5px;
    margin-top: 4px;
    font-weight: 600;
}



/* home-ads */
.home-ads {
    margin-top: 40px;
}



/* home-ad-css */
.home-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* left-ads */
.left-ads {
    width: 40%;
    height: 300px;
    padding: 15px;
    postys cursor: pointer;
}

.left-ads img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* right-ads */
.right-ads {
    width: 60%;
    height: 300px;
    padding: 15px;
    cursor: pointer;
}

.right-ads img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



/* top-coins-items */
.top-coins-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--fonts);
}




/* top-items */
.top-items {
    width: calc(100%/3);
    height: 300px;
    padding: 15px;
    margin-bottom: 150px;

}

/* .top-coins h2 */
.top-coins h2 {
    padding: 0 15px;
    color: var(--land);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 11px;
}








/* top-service */
.top-service {
    margin-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.img-service {
    width: 25%;
    height: auto;
}


/* .img-service img */
.img-service img {
    width: 70%;
    height: 100%;
    padding: 0 0 10px 40px;
    cursor: pointer;
}

/* .ser-p-1 */
.ser-p-1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
    color: var(--bluev);

}

/* .ser-p-2 */
.ser-p-2 {
    text-align: center;
    font-size: 12px;
    color: var(--main);
}




/* footer */

footer {
    background: var(--black);
    width: 100%;
    height: 400px;
    margin: 45px 0 0 0;
}

.main-footer {

    display: flex;
    justify-content: center;
    align-items: start;

}


/* first-footer */
.first-footer {
    width: 30%;
    margin-top: 90px;
    margin-left: 20px;
}

.first-footer h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.first-footer p {
    color: var(--white);
    margin-top: 30px;
    font-size: 15px;
}



/* mid-footer */
.mid-footer {
    width: 20%;
    margin-top: 90px;
}

.mid-footer h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.mid-footer ul {
    margin-top: 30px;
}

.mid-footer li {
    color: var(--white);
    margin-bottom: 8px;
    cursor: pointer;

}



/* last-footer */
.last-footer {
    width: 30%;
    margin-top: 90px;
}

.last-footer h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.last-footer img {
    margin-top: 20px;
    margin-right: 40px;
    width: 100px;
    cursor: pointer;
}



/* hr */
hr {
    border-color: var(--main);
    /* padding: 15px; */
}


/* under */
.under {}

/* under-footer */
.under-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20p;
}

/* under-left */
.under-left {
    margin-top: 20p;
}

.under-left img {
    margin-top: 6px;
    cursor: pointer;
}


.under-right p {
    color: var(--white);
}












@media (max-width:2560px) {
    .new-card {
        height: 747px;
    }

    .pro-img img {
        height: 495px;
    }

    .titles {
        margin-top: 323px;
    }

    p.name-coin {
        font-size: 40px;
        margin-left: 20px;
    }

    p.price-coin {
        font-size: 36px;
        margin-right: 20px;
        font-weight: 600;
    }

    p.desc-coin {
        font-size: 32px;
        font-weight: 900;
    }

    p.desc-coin {}

    p.new-price {
        font-size: 35px;
        margin-right: 18px;
        font-weight: 900;
    }

    .text-h2 {
        font-size: 60px;
    }

    .right-ads img {
        height: 530px;
    }

    .left-ads img {
        height: 530px;
    }

    .top-coins {
        margin-top: 273px;
    }

    .top-coins h2 {
        font-size: 64px;
        margin-bottom: 20px;
    }

    .top-items {
        height: 618px;
    }

    .pro-img img {
        height: 568px;
    }

    p.ser-p-1 {
        font-size: 39px;
        font-weight: 800;
    }

    p.ser-p-2 {
        font-size: 40px;
    }

    .top-service {
        margin-top: 50px;
    }

    .first-footer h4 {
        font-size: 40px;
    }

    .first-footer p {
        font-size: 30px;
    }

    .mid-footer h4 {
        font-size: 40px;
    }

    .mid-footer ul {
        font-size: 40px;
    }

    .mid-footer {
        margin-bottom: 21px;
    }

    footer {
        height: 562px;
    }

    .last-footer h4 {
        font-size: 40px;
    }

    .last-footer img {
        width: 284px;
    }

    .under-left img {
        width: 73px;
    }

    .under-right p {
        font-size: 35px;
    }

    .header {
        height: 90px;
    }

    ul.nav {
        font-size: 39px;
        margin: 23px 0;
    }

    button.btn {
        padding: 16px 30px;
        font-size: 32px;
        font-weight: 700;
    }

    .header-left img {
        max-width: 145px;
    }

    .intro {
        height: 542px;
    }

    .intro-left h1 {
        padding: 110px 50px;
    }

    .intro-left img {
        display: none;
    }
}


@media (max-width:1920px) {
    ul.nav {
        font-size: 25px;
    }

    button.btn {
        padding: 12px 9px;
    }

    .pro-img img {
        height: 442px;
    }

    .titles {
        margin-top: 199px;
    }

    .new-card {
        height: 663px;
    }

    .last-footer img {
        max-width: 200px;
    }

    footer {
        height: 565px;
    }
}






@media (max-width:1440px) {
    ul.nav {
        font-size: 24px;
    }

    button.btn {
        padding: 12px 20px;
    }

    .intro-left img {
        display: none;
    }

    .pro-img img {
        height: 342px;
    }

    .titles {
        margin-top: 128px;
    }

    .new-card {
        height: 513px;
    }

    p.name-coin {
        font-size: 25px;
        font-weight: 900;
    }

    p.price-coin {
        font-size: 20px;
    }

    p.desc-coin {
        font-size: 18px;
    }

    p.new-price {
        font-size: 20px;
    }

    .top-coins h2 {
        font-size: 40px;
    }

    .top-items {
        height: 400px;
    }

    p.ser-p-1 {
        font-size: 25px;
    }

    p.ser-p-2 {
        font-size: 25px;
    }

    .first-footer h4 {
        font-size: 25px;
    }

    .first-footer p {
        font-size: 20px;
    }

    .mid-footer ul {
        font-size: 25px;
    }

    .mid-footer h4 {
        font-size: 25px;
    }

    .last-footer img {
        width: 100px;
    }

    .last-footer {
        margin-left: 16px;
    }

    footer {
        height: 424px;
    }

    .under-left img {
        width: 50px;
    }

    .under-right p {
        font-size: 20px;
    }
}







@media (max-width:1024px) {
    ul.nav {
        font-size: 15px;
    }

    button.btn {
        padding: 10px 10px;
        font-size: 20px;
    }

    .header-left img {
        max-width: 93px;
    }

    .header {
        height: 68px;
    }

    .text-h2 {
        font-size: 33px;
    }

    .post-new {
        width: 50%;
    }

    .top-coins h2 {
        font-size: 25px;
    }

    .pro-img img {
        height: 290px;
    }

    .titles {
        margin-top: 80px;
    }

    p.price-coin {
        font-size: 16px;
    }

    p.new-price {
        font-size: 17px;
    }

    .new-card {
        height: 449px;
    }

    .top-items {
        height: 327px;
    }

    p.ser-p-2 {
        font-size: 14px;
    }

    .first-footer h4 {
        font-size: 18px;
    }

    .first-footer p {
        font-size: 12px;
    }

    .mid-footer ul {
        font-size: 17px;
    }

    .last-footer h4 {
        font-size: 20px;
    }

    .last-footer {
        margin-left: 20px;
    }

    .last-footer img {
        width: 90px;
    }

    .right-ads img {
        height: 85%;
    }

    .left-ads img {
        height: 85%;
    }

    .top-coins {
        margin-top: 10px;
    }

    .home-ad {
        height: 249px;
    }

    .home-ads {
        margin-top: 7px;
    }
}


@media (max-width:1024px) {
    ul.nav {
        display: none;
    }

    .ham-menu {
        display: block;
        right: 171px;
        font-size: 14px;
    }
}




@media (max-width:768px) {
    .intro-left h1 {
        font-size: 31px;
        font-weight: 900;
    }

    .intro-right img {
        width: 400px;
    }

    .intro {
        height: 400px;
    }

    .pro-img img {
        height: 200px;
    }

    .titles {
        margin-top: 0px;
    }

    p.name-coin {
        font-size: 18px;
    }

    p.desc-coin {
        font-size: 13px;
    }

    .new-card {
        height: 350px;
    }

    .top-items {
        height: 222px;
    }

    p.ser-p-1 {
        font-size: 16px;
    }

    .mid-footer ul {
        font-size: 12px;
    }

    .mid-footer h4 {
        font-size: 17px;
    }

    .last-footer h4 {
        font-size: 17px;
    }

    .last-footer img {
        width: 52px;
    }

    footer {
        height: 324px;
    }

    .under-left img {
        width: 30px;
    }

    .under-right p {
        font-size: 15px;
    }

    .pro-img img {
        height: 245px;
    }
}




@media (max-width:425px) {
    button.btn {
        padding: 10px 12px !important;
    }

    nav.header-main {
        justify-content: space-between !important;
    }


    .intro-right img {
        width: 200px !important;
    }

    .intro-left h1 {
        font-size: 20px !important;
    }

    button.btn-intro-2 {
        font-size: 10px !important;
    }

    button.btn-intro-1 {
        font-size: 10px !important;
        margin-left: 60px !important;
    }

    button.btn-intro-2 {
        margin-left: 44px !important;
    }

    .intro {
        height: 340px !important;
    }

    .intro-left {
        height: 358px !important;
        width: 49% !important;
    }

    .text-h2 {
        font-size: 25px !important;
    }

    .post-new {
        width: 100% !important;
    }

    .home-ad {
        /* flex-direction: column; */
    }

    .right-ads img {}

    .home-ads {
        display: none !important;
    }

    .top-coins h2 {
        font-size: 18px !important;
    }

    .top-items {
        width: 100% !important;
    }

    .img-service {
        width: 100% !important;
    }

    p.ser-p-2 {
        margin-bottom: 13px !important;
    }

    .main-footer {
        flex-direction: column !important;
    }

    footer {
        height: 788px !important;
    }

    .first-footer {
        margin-left: 53px !important;
        width: 100% !important;
    }

    .mid-footer {
        width: 100% !important;
        margin-left: 81px !important;
        margin-bottom: 0px !important;
    }

    .last-footer {
        width: 100% !important;
        margin-top: 20px !important;
    }

    .last-footer h4 {
        margin-left: 62px !important;
    }

    .last-footer img {
        margin-left: 34px !important;
    }
}


@media (max-width:375px) {
    .main {
        overflow-x: hidden;
    }

    button.btn {
        padding: 4px 4px;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        top: 10px;
    }

    .header-right {}

    button.ham-menu {}

    .header-left img {
        max-width: 69px;
        left: 3px;
        position: absolute;
        top: 2px;
    }

    .header {
        height: 54px;
        position: relative;

    }

    .btn-intro-2 {
        padding: 3px 7px;
    }

    .ham-menu img {
        right: 40px;
    }

    img {}

    footer {
        height: 866px !important;
    }

    .last-footer img {
        margin-left: 62px;
    }

    button.ham-menu {
        top: 13px;
        right: 119px;
    }

    .intro-main {
        flex-direction: column;
    }

    .intro-left {
        height: 194px;
    }

    .intro-left h1 {
        padding: 20px;
    }

    .intro-right {
        height: 197px;
        position: absolute;
        top: 112px;
    }

    .intro-right img {
        position: absolute;
    }


    button.btn-intro-1 {
        position: absolute;
        top: 163px;
        right: 134px;
    }

    button.btn-intro-2 {
        position: absolute;
        top: 164px;
        padding: 4px 24px;
    }

}




@media (max-width:320px) {
    .ham-menu img {
        right: 350px;
    }

    button.ham-menu {
        right: 126px;
    }

    .header-left img {
        max-width: 69px;
    }

    button.btn {
        position: absolute;
        right: 24px;
        top: -20px;
        padding: 10px 10px !important;;
    }

    button.ham-menu {
        right: 102px;
        top: 6px;
    }



    .header-left {
        position: absolute;
        top: 4px;
        left: 10px;
    }

    .intro-right {
        width: 100%;
        height: 239px;
        top: 69px;
    }

    .intro-left {
        width: 100px;
        height: 103px;
    }

    .intro-main {
        flex-direction: column;
        align-items: center;
        padding: 0px 0 0 0;
    }

    .intro {
        height: 380px;
    }

    .intro-left h1 {
        padding: 15px 20px;
    }

    .intro-right {
        width: 100%;
        height: 239px;
    }


    button.btn-intro-1 {
        position: absolute;
        top: 176px;
        right: 143px;
    }

    button.btn-intro-2 {
        padding: 6px 20px;
        top: 183px;
        right: 0px;
    }
    .pro-img img {
        height: 200px;
    }

    footer {
        height: 890px !important;
    }
}